<!doctype html>
<html lang="en">
    <head>
        <title>Javascript Tests</title>
        <link rel="stylesheet" href="/Content/jasmine/jasmine.css">
        <script data-main="/Scripts/jasmine-runner" src="/Scripts/require.js"></script>
    </head>

    <body>
        <script src="~/Scripts/jquery-1.9.1.js"></script>
        <script src="~/Scripts/jquery.mockajax.js"></script>
        <script src="~/Scripts/jquery.mockjson.js"></script>
    </body>
</html>