<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    <button data-bind="click: next">>></button>
    <button data-bind="click: prev"><<</button>
    <span data-bind="text: currentDay"></span>
    <h3>Day</h3>
    <ul data-bind="foreach: users">
        <li data-bind="text: name">

        </li>
    </ul>
    <ul data-bind="foreach: day0">
        <li>
            <span data-bind="text: title"></span>
            <span data-bind="text: owner"></span>
            <span data-bind="text: start"></span>
        </li>
    </ul>
    <h3>Day+1</h3>
    <ul data-bind="foreach: users">
        <li data-bind="text: name"></li>
    </ul>
    <ul data-bind="foreach: day1">
        <li>
            <span data-bind="text: title"></span>
            <span data-bind="text: owner"></span>
            <span data-bind="text: start"></span>
        </li>
    </ul>
    <h3>Day+2</h3>
    <ul data-bind="foreach: users">
        <li data-bind="text: name"></li>
    </ul>
    <ul data-bind="foreach: day2">
        <li>
            <span data-bind="text: title"></span>
            <span data-bind="text: owner"></span>
            <span data-bind="text: start"></span>
        </li>
    </ul>
</section>