<div>
    <header>
        <!--ko compose: {view: 'nav'} -->
        <!--/ko-->
    </header>
    <nav id="top" style="display: none;">
        <!--ko compose: {model: 'viewmodels/navapps'} -->
        <!--/ko-->
    </nav>
    
    <div class="container-fluid main">
        <!--ko router: { transition:'entrance', cacheViews:true }--><!--/ko-->
    </div>

    <nav id="right" class="hidden">
        <!--ko compose: {model: 'viewmodels/navusers'} -->
        <!--/ko-->
    </nav> 
    <footer>
        <!--_ko compose: {view: 'footer'} -->
        <!--/_ko-->
    </footer>
    <button id="toggelNav" class="btn btn-large btn-warning" onclick="javascript: var d = document.getElementById('right');
d.className = d.className=='hidden'?'':'hidden'; d= document.getElementById('top'); return false;">
        <></button>
    <div id="loginView" style="width: 100%;" data-bind="visible: !loggedIn()">
        <!-- ko compose: {view: 'login'} -->
        <!--/ko-->
    </div>

</div>
